<%-include partiels/head%>
    <%-include partiels/nav%>
        <!-- <h1>Admin</h1>
        <h3>En construction</h3> -->

    <div class="container my-5">
        <div class="row">
            <div class="col-3 border border-black border-top-0 border-left-0 border-bottom-0 rounded-0">
                <div class="nav flex-column nav-pills border border-black rounded p-2 bg-secondary" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link candidature active" id="v-pills-gestionOffre-tab" data-toggle="pill" href="#v-pills-gestionOffre" role="tab" aria-controls="v-pills-gestionOffre" aria-selected="true">Gestion des offres</a>
                <a class="nav-link candidature" id="v-pills-gestionCandidat-tab" data-toggle="pill" href="#v-pills-gestionCandidat" role="tab" aria-controls="v-pills-gestionCandidat" aria-selected="false">Gestion des candidats</a>
                <a class="nav-link candidature" id="v-pills-gestionEntreprise-tab" data-toggle="pill" href="#v-pills-gestionEntreprise" role="tab" aria-controls="v-pills-gestionEntreprise" aria-selected="false">Gestion des entreprises</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-gestionOffre" role="tabpanel" aria-labelledby="v-pills-gestionOffre-tab">
                    VOICE LA PARTIE GESNTION DES OFFRES !<br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis et necessitatibus velit consequatur sit? Necessitatibus inventore repellendus quo asperiores, alias sequi animi aut atque error dolorem reiciendis dolore maxime, nostrum vitae reprehenderit? Quam corrupti tenetur porro facilis accusantium fugit vero consectetur sint harum, ab labore est quasi explicabo autem quae? In earum quaerat quibusdam? Quas esse a necessitatibus perferendis. Vitae atque, delectus ullam mollitia corrupti harum non! Nesciunt optio reprehenderit itaque eum doloribus dicta voluptates nam magni repellendus, dolores numquam modi perferendis quaerat asperiores possimus illo repudiandae vel? Ut expedita odit temporibus velit delectus numquam excepturi sint eos. Commodi, porro!
                </div>
                <div class="tab-pane fade" id="v-pills-gestionCandidat" role="tabpanel" aria-labelledby="v-pills-gestionCandidat-tab">
                    VOICE LA PARTIE GESTON DES CANDIDATS !<br>

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati non, veniam deserunt iste, odit similique labore excepturi magni suscipit nobis harum. Tenetur ipsum nam asperiores debitis amet laborum repellat cupiditate eaque laudantium, explicabo voluptates, nobis iste tempora necessitatibus. Veritatis, minus earum! Voluptatibus expedita sed natus? Illum unde, dolor minima quasi, neque dolores tempora cum molestias sequi fuga aliquam! Magni architecto et animi omnis corporis ullam nam rerum voluptatibus voluptatum repudiandae? Nulla maxime iure id voluptatibus nobis expedita quibusdam placeat. Aperiam dolorem eum, culpa, expedita consequuntur ducimus, eligendi esse alias perspiciatis quasi dolore repellat voluptates optio sint saepe magnam earum repellendus possimus quo fuga sunt explicabo aliquam fugit! Iste, nobis provident expedita adipisci, ducimus architecto corrupti incidunt excepturi ut odit nihil, illum sequi doloribus tenetur animi vel cum. Saepe vero perspiciatis molestias esse quidem, sit beatae aspernatur iure ab expedita qui nesciunt iusto, eaque laudantium nisi commodi consequuntur ex ratione maxime libero dignissimos sed neque ipsa quisquam? Quod veniam consequatur facere sapiente placeat culpa iusto. Nesciunt, voluptates vitae et doloribus nulla voluptas vero maxime praesentium libero blanditiis, assumenda commodi asperiores, ratione modi nostrum eius fugiat laboriosam beatae maiores. Beatae deleniti voluptates doloremque aperiam tempora nostrum odio perspiciatis, id necessitatibus asperiores modi.
                </div>
                <div class="tab-pane fade" id="v-pills-gestionEntreprise" role="tabpanel" aria-labelledby="v-pills-gestionEntreprise-tab">
                    VOICE LA PARTIE GESTION DES ENTREPRISES !<br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero debitis officiis labore perspiciatis fugit, nam cumque. Magnam recusandae illum saepe unde perspiciatis tempore ab totam, quo deserunt, possimus ea quas dolorem accusantium architecto necessitatibus quaerat repellat placeat expedita optio. Ratione at hic temporibus voluptate, impedit repellendus esse veritatis, aspernatur tempora illo maiores accusantium cumque voluptas reiciendis cupiditate. Quod sequi necessitatibus nemo iure eligendi enim numquam veniam sit autem, eos at similique, incidunt dignissimos aliquam impedit voluptatem exercitationem ut cumque harum quis eum inventore? Praesentium laboriosam iste, commodi debitis provident temporibus voluptatibus sapiente eaque? Molestiae sed porro facilis corporis hic nemo eaque est similique quia doloribus laboriosam blanditiis, reprehenderit ab animi incidunt non impedit rerum mollitia itaque atque tempora consectetur facere sunt repellendus. Porro, perferendis non blanditiis quaerat harum optio nobis accusantium doloribus vitae molestiae necessitatibus saepe omnis distinctio esse incidunt fuga velit quis ex? Maiores, asperiores reprehenderit, ab enim dignissimos sapiente, porro aspernatur nemo fugit temporibus molestias architecto consequuntur. Quasi perferendis distinctio explicabo est voluptate delectus molestias deleniti accusantium voluptas ratione, cum porro eaque ab quisquam. Corporis quidem eos veniam voluptatem. Doloremque tempora inventore quia ipsa, consectetur debitis cum cumque, fugit nostrum quos repellat, provident error in ducimus eligendi laudantium atque illo ullam! Dolorem, magni reprehenderit libero optio repellat maiores cum temporibus ab provident quibusdam porro enim, accusamus qui. Maiores ipsa magnam expedita architecto alias cum ducimus placeat eaque, cumque, error voluptatum, minus laborum saepe. Tenetur aspernatur vero, nostrum cum expedita dolores sed inventore at? Earum aspernatur unde id. Enim laboriosam ducimus beatae quae laudantium fuga magni quidem ipsum voluptas est consequatur alias sed soluta a, repudiandae nobis dolores laborum. Aspernatur unde minima officia nemo quia. Corrupti harum quasi consequatur, qui illo maxime, fugiat delectus, neque laborum vitae accusamus sunt minima? Ipsam distinctio accusamus officia incidunt, asperiores doloribus aut obcaecati.
                </div>
                </div>
            </div>
        </div>
    </div>
        <%-include partiels/foot%>